<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      {% for category in site.categories reversed %}
        {% assign category_name = category | first %}
        {% assign posts = category | last %}

        <div class="home-section">
          <div class="home-section-title-container">
            <div class="home-section-title">{{ category_name | capitalize }}</div>
            <a class="home-section-link" href="{{ site.baseurl }}{{ category_name }}">more</a>
          </div>
          <div class="home-list-container">
            {% for post in posts limit: 500 %}
              <div class="list-item home-list-item home-list-item-{{ forloop.index }}">
                <a class="list-item-link" href="{{ site.baseurl }}{{ post.url }}">
                  <img src="{{ site.baseurl }}/{{ post.cover }}">

                  <div class="list-item-hover list-item-hover-line-height">
                    <p class="list-item-title home-list-item-title">{{ post.title }}</p>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}

    </div>
  </body>
</html>
