<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div id="main-div">
      <div class="list-title list-align">{{ page.title }}</div>
      <div class="list-container list-align">
        {% for post in site.posts %}
          {% assign page_category = page.title | downcase %}
          {% if post.category ==  page_category %}
            <div class="list-item">
              <a class="list-item-link" href="{{ site.baseurl }}{{ post.url }}">
                <img src="{{ site.baseurl }}/{{ post.cover }}">

                <div class="list-item-hover">
                  <p class="list-item-title">{{ post.title }}</p>
                </div>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
